 <ul class="category_list">
                <li><a href="/accounts/new">accounts details</a></li>
                <li><a href="/suppliers/new">suppliers</a></li>
                <li><a href=" /customers/new">customer details</a></li>
                <li><a href="/orders/new">order details</a></li>
                <li><a href="/doctors/new">Doctor details</a></li>
                <li><a href="/patients/new">patient details</a></li>
                <li><a href="/appointments/new">appointment details</a></li>
                <li><a href="#">Mauris egestas nunc</a></li>
                <li><a href="#">Ut semper porta magna</a></li>
                <li><a href="#">Donec ante risus</a></li>
                <li><a href="#">Nunc bibendum neque</a></li>
            </ul>